<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.cps.mapper.CpsIssueAiMatchMapper">

    <insert id="insert" parameterType="com.company.cps.domain.CpsIssueAiMatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cps_issue_ai_match (
          issue_id,
          source_attachment_id,
          matched_case_id,
          confidence,
          ai_category_l1_id,
          ai_category_l2_id,
          ai_category_l1_name,
          ai_category_l2_name,
          reason_suggestion,
          measure_suggestion,
          topk_json,
          raw_request,
          raw_response,
          confirmed_category_l1_id,
          confirmed_category_l2_id,
          confirmed_reason,
          confirmed_measure,
          created_at
        ) VALUES (
          #{issueId},
          #{sourceAttachmentId},
          #{matchedCaseId},
          #{confidence},
          #{aiCategoryL1Id},
          #{aiCategoryL2Id},
          #{aiCategoryL1Name},
          #{aiCategoryL2Name},
          #{reasonSuggestion},
          #{measureSuggestion},
          #{topkJson},
          #{rawRequest},
          #{rawResponse},
          #{confirmedCategoryL1Id},
          #{confirmedCategoryL2Id},
          #{confirmedReason},
          #{confirmedMeasure},
          #{createdAt}
        )
    </insert>

</mapper>
